.avatar {
  position: relative;
  display: flex;
  min-width: 24px;
  height: 24px;
  background-color: color('primary-disabled');
  border-radius: 50%;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
  }
}