.button {
  height: 42px;
  padding: 0 spacing(4);
  border-radius: 4px;
  cursor: pointer;

  &_primary_default {
    color: color('font-secondary');
    background-color: color('primary-default');
    border: 1px solid color('primary-default');

    &:hover {
      background-color: color('primary-hover');
      border: 1px solid color('primary-hover');
    }

    &:active {
      background-color: color('primary-active');
      border: 1px solid color('primary-active');
    }

    &:disabled {
      color: color('font-disabled');
      background-color: color('primary-disabled');
      border: 1px solid color('primary-disabled');
    }
  }

  &_primary_active {
    color: color('font-secondary');
    background-color: color('primary-active');
    border: 1px solid color('primary-active');
  }

  &_secondary_default {
    background-color: color('secondary-default');
    border: 1px solid color('border-default');

    &:hover {
      background-color: color('secondary-hover');
      border: 1px solid color('border-hover');
    }

    &:active {
      background-color: color('secondary-active');
      border: 1px solid color('border-active');
    }

    &:disabled {
      color: color('font-disabled');
      background-color: color('secondary-default');
      border: 1px solid color('border-disabled');
    }
  }

  &_secondary_active {
    display: block;
    background-color: color('secondary-active');
    border: 1px solid color('border-active');
  }

  &_icon {
    padding: 0 spacing(2);
    line-height: 0;
  }

  &_dropdown {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 spacing(4);
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;

    &_default {
      color: color('secondary-default');

      &:hover {
        color: color('secondary-default');
        border-color: color('secondary-default');
      }

      &:active {
        color: color('secondary-active');
        border-color: color('secondary-default');
        background-color: color('secondary-default');
      }
    }

    &_active {
      color: color('secondary-active');
      border-color: color('secondary-default');
      background-color: color('secondary-default');
    }

    &__content {
      display: flex;
      gap: spacing(2);
      align-items: center;
      height: 100%;
      width: 100%;
      pointer-events: none;
    }
  }
}
