.navigation-panel {
  z-index: 10;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  gap: spacing(6);
  background-color: color('primary-default');
  padding: spacing(6);

  &__menu {
    display: flex;
    gap: spacing(6);
  }

  &__profile-button {
    .v-button {
      color: color('secondary-active');
      border-color: color('secondary-default');
      background-color: color('secondary-default');

      &:hover {
        color: color('secondary-active');
        border-color: color('secondary-hover');
        background-color: color('secondary-hover');
      }
    }
  }
}
