.dropdown-menu {
  display: inline-block;
  position: relative;

  &__wrapper {
    position: absolute;
    z-index: 10;
    right: 0;
    display: block;
    padding-top: spacing(1);

    &.select {
      width: 100%;
    }

    &.sort-select {
      width: calc(100% - 42px);
      left: 0;
      right: auto;
    }
  }
}
