.edit-or-create-work-item {
  &__form {
    display: flex;
    flex-direction: column;
    gap: spacing(6);
  }

  &__field-container {
    display: flex;
  }

  &__label {
    display: flex;
    gap: spacing(2);
    width: 120px;
  }
}
