.navigation-panel {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  gap: spacing(6);
  background-color: color('primary-default');
  padding: spacing(6);

  &__menu {
    display: flex;
    gap: spacing(6);
  }

  &__menu-item {
    display: inline-block;
    padding: spacing(3) spacing(4);
    color: color('font-secondary');
    border: 1px solid color('secondary-default');
    border-radius: 4px;

    &:hover {
      color: color('font-primary');
      background-color: color('secondary-hover');
      border-color: color('secondary-hover');
    }

    &:active {
      color: color('font-primary');
      background-color: color('secondary-active');
      border-color: color('secondary-active');
    }
  }

  &__button-user-wrapper {
    position: relative;
    display: inline-block;
  }

  &__button-user{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 spacing(4);
    color: color('secondary-default');
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;

    &_active{
      color: color('secondary-active');
      border-color: color('secondary-default');
      background-color: color('secondary-default');
    }

    &:hover {
      color: color('secondary-default');
      border-color: color('secondary-default');
    }

    &:active {
      color: color('secondary-active');
      border-color: color('secondary-default');
      background-color: color('secondary-default');
    }
  }

  &__button-user-content {
    display: flex;
    gap: spacing(2);
    align-items: center;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }


}

