.dropdown-select {
  display: inline-block;
  position: relative;
  width: 100%;

  &__wrapper {
    position: absolute;
    z-index: 10;
    right: 0;
    display: block;
    padding-top: spacing(1);
    width: 100%;

    &.sort {
      width: calc(100% - 42px);
      left: 0;
      right: auto;
    }
  }
}
