.edit-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: spacing(6);
  padding: spacing(6);
  border: 1px solid color('border-default');
  border-radius: 4px;

  &__header {
    padding-bottom: spacing(6);
    border-bottom: 1px solid color('border-default');
  }

  &__title {
    padding: spacing(2);
  }

  &__body {
    display: flex;
    flex-grow: 1;
    padding: spacing(8) spacing(4) spacing(4);
  }

  &__field-container {
    display: flex;
    gap: spacing(2);
  }

  &__field-label {
    display: flex;
    gap: spacing(2);
    min-width: 120px;
    max-width: 120px;
    color: color('font-disabled');
  }

  &__admin {
    width: 208px;
  }

  &__admin-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 spacing(6);
  }

  &__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: spacing(6);
    padding: spacing(8) spacing(2) spacing(2);
    border-top: 1px solid color('border-default');
  }
}
