//base set
@import '@/scss/fonts.scss';
@import '@/scss/variables.scss';
@import '@/scss/functions/function.scss';
@import '@/scss/default-set.scss';

//common components
@import '@/components/button-vue/button.scss';
@import '@/components/avatar-vue/avatar.scss';
@import '@/components/svg-icon-vue/svg-icon.scss';
@import '@/components/dropdown-list-vue/dropdown-list.scss';
@import '@/components/status-vue/status.scss';


@import '@/scss/components/profile-button.scss';


//main components
@import '@/components/navigation-panel-vue/navigation-panel.scss';
@import '@/components/item-vue/item.scss';
@import '@/components/item-none-vue/item-none.scss';

// style for main page
.page {
  display: flex;
  flex-direction: column;
  gap: spacing(6);
  min-height: 100vh;

  &__section-items {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: spacing(3);
    height: 100%;
    padding: 0 spacing(6);
  }
}
