.avatar-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  min-width: 24px;
  height: 24px;
  background-color: color('primary-disabled');
  border-radius: 50%;

  &__image {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__initials {
    color: color('font-disabled');
    font-size: 10px;
  }
}
