.panel-filter-work-items {
  display: flex;
  gap: spacing(6);

  &__ordering-and-sorting {
    display: flex;
    min-width: 230px;
    max-width: 230px;

    .v-select__trigger {
      border-radius: 4px 0 0 4px;
    }

    .v-button {
      margin-left: -1px;
      border-radius: 0 4px 4px 0;

      &:hover {
        z-index: 1;
      }
    }
  }

  &__popup-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
